@charset "UTF-8";
/* sass --watch scss/style.scss css/style.css */
@import "reset";
@import "mixin";


// 변수만들기
//$변수명: 속성값;
$bgBody: #eee;
$bgItem: #fff;

body{
    background-color: $bgBody;
}
.wrap{
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
    border: 2px solid #bbb;
    perspective: 600px;

    .item{
        padding: 30px;
        width: 300px;
        background-color: $bgItem;
        margin: 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

        h2{
            margin-bottom: 15px;
            font-size: 30px; font-family: "arial";
            @if $bgItem == #fff{color: #333}
            @else {color: #fff}
        }
        p{
            margin-bottom: 20px; font-size: 15px; line-height: 1.3; font-family: 'arial'; 
            @if $bgItem == #fff{color: #333}
            @else {color: #fff}
        }
        a{
            font-size: 20px;
        }
        // &:hover {
        //     background-color: #111;
        //     h2, p, a{color: #fff;}
        // }
    }
}
